# Инжект бинов в проекте происходит чреез констурктуоры классов.
# В подавляющем большинстве конструктор генерируется Lombok'om
# Данный метод позволяет учитывать копировать Qualifier на аргументы генерриремого конструктора,
# чтобы инжектить бины по имени без создания конструктора вручную
# Ссылка на Github тикет lombok с объяснением проблемы https://github.com/rzwitserloot/lombok/issues/745
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
